html {
  font-family: Libre Baskerville, serif;
}

h1,
h2,
h3,
.btn,
nav,
dt,
.montserrat-font {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

.btn {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.list-group {
  list-style: none;
}

.product-img {
  width: 100%;
}

li:hover {
  background-color: #e2e2e2;
}

footer {
  background-color: #e3e3e3;
}
